<head>
<link rel="stylesheet" href="<%= url("/stylesheets/style.css") %>">
<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<nav class="nav" id="nav">
 <form action="/sessions" method="post">
  <ol class="nav-list">
  <li><input type="textbox" name="user_email" id="user-email" placeholder="Enter your email"></li>
  <li><input type="textbox" name="user_password" id="user-password" placeholder="Enter your password"></li>
  <li><input type="submit" name='Login' id="log-in-button" value="Log-in"> </li>
  </form>
  <form action="/users/register" method="get">
  <li><a href="<%= url("/users/register") %>"><button id="register-button">Register</button></a></li>
  </form>
</ol>
<ol class="nav-list-2">
<li><a href="<%= url("/users/myplaces") %>"><button id="myplaces-button">My Places</button></a></li>
<li><a href="<%= url("/users/myrequests") %>"><button id="myrequests-button">My Requests</button></a></li>
</ol>
</nav>
<main class="container">
<h1>Welcome to GorillaBnB</h1>
<h2><%= flash[:notice] %></h2>
<%if @user %>
<h3>Welcome, <%= @user.user_email %></h3>
<% end %>
<br>
<form action="/places/add" method="get">
<input type="Submit" id="addplace-button" value="Add a place" />
</form>
<div class="container-list">
<h2>Places to stay: </h2>
<% @places.each do |place| %>
<ul class="list-item">
<li><h4><%= place.place_title %></h4></li>
<li><h5>Location: <%= place.location %></h5></li>
<li><h5>Price: £<%= place.place_price %> per night</h5></li>
<li><h5>Description: <%= place.description %></h5></li>
<li><h5>Available from: <%= place.available_from %></h5></li>
<li><h5>Available until: <%= place.available_until %></h5></li>
<form action="/places/<%= place.id %>/request" method="get">
<input type="Submit" id="submit-request" value="Request Stay" />
</ul>
</form>
</span>
<br />
<% end %>
</div>
</main>
<footer class="footer">
</footer>
