<head>
<link rel="stylesheet" href="<%= url("/stylesheets/style.css") %>">
<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<nav class="nav" id="nav">
  <ol class="nav-list">
  <li><input type="textbox" name="user-email" id="user-email" placeholder="Enter your email"></li>
  <li><input type="textbox" name="user-password" id="user-password" placeholder="Enter your password"></li>
  <li><input type="submit" id="log-in-button" value="Log-in"> </li>
  <li><a href="/users/register"><button id="register-button">Register</button></a></li>
</ol>
<ol class="nav-list-2">
<li><a href="/users/myplaces"><button id="myplaces-button">My Places</button></a></li>
<li><a href="/users/myrequests"><button id="myrequests-button">My Requests</button></a></li>
</ol>
</nav>
<main class="container-form">
<form action="/places/<%= @place.id %>/confirmation" method="post">
  <div class="request-form">
   <h3>Fill in the form to request your stay in <%= @place.place_title %> </h3>
    <input type="text" name="customer_name" id="customer_name" placeholder="Your name" /><br><br>
    <input type="email" name="customer_email" id="customer_email"  placeholder="Your email" /><br><br>
    <label for="check_in">Check-in date: </label>
    <input type="date" name="check_in" min="<%= Date.today %>" max="2032-04-04" /><br><br>
    <label for="check_out">Check-out date: </label>
    <input type="date" name="check_out" min="<%= Date.today + 1 %>" max="2032-04-04" /><br><br>
    <textarea name="comments_box" id="comments_box" placeholder="Add any comments here..."></textarea><br><br>
    <input type="submit" id="submit-request" value="Submit" />
  </div>
</form>
</main>
<footer class="footer">
</footer>

